.banner__image{
    background: url('../../images/rps_images/redxblue.jpg') no-repeat center / cover;
    /*height: calc(100vh - 72px); transferido para @media*/
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__image {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__image {
        height: calc(100vh - 72px);
    }
}
